
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WallStreet Parlor</title>
    <link rel="stylesheet" type = "text/css" href="css/style.css">
</head>

<body>
    <form action="/register" method = "POST">
    <h1>REGISTER:</h1>
    <div class = 'regular'>
        <label for= "username">Username</label>
        <input type="username" id = "username" name="username" required>
    </div>
    <div class = 'regular'>
        <label for= "password">Password</label>
        <input type="password" id = "password" name="password" required>
    </div>
    <button type="submit" id = "submit">Register</button>
    </form>
    <a href="/login">Login</a>
</body>

</html>

